---
import Layout from "../layouts/layout.astro";

let questions = [
  {
    question:
      "Which of the following impacts that climate change may have on our health and environment?",
    answers: [
      "Intense Heat Waves",
      "Unbalance Ecosystem",
      "Extreme weather condition",
      "All of the above",
    ],
    correctAnswer: 3,
  },
  {
    question:
      "Where have some of the strongest and earliest impacts of global warming occurred?",
    answers: [
      "Northern Latitude",
      "Southern Latitude",
      "Antarctica",
      "All of the above",
    ],
    correctAnswer: 1,
  },
  {
    question:
      "Which of the following action could you take to help lessen the impact of climate change?",
    answers: [
      "More use of Electric Vehicles",
      "Reducing Food Wasteage",
      "Conserve Water",
      "All of the above",
    ],
    correctAnswer: 3,
  },
  {
    question: "Which of the following is not a green house effect gas",
    answers: ["Carbon Dioxide", "Ozone", "Methane", "Nitrogen"],
    correctAnswer: 3,
  },
  {
    question: "What is the major effect of climate change in alska?",
    answers: [
      "Increase in Wildfires",
      "Increase in Sea Ice",
      "Decrease in Temperature",
      "All of the above",
    ],
    correctAnswer: 0,
  },
];
---

<Layout>
  <div class="question-box container">
    <form id="quiz-form">
        <h2>Your name</h2>
        <input name="name" id="name" />
      {
        questions.map((question, index) => (
          <div class={"question" + (index + 1)} style="padding-bottom: 5%;">
            <h2>{question.question}</h2>
            <div class={"answers" + (index + 1)}>
              <select
                id={"question" + (index + 1)}
                required
                style="padding-top: 1%;"
              >
                <option value={question.answers[0]} selected>
                  {question.answers[0]}
                </option>
                <option value={question.answers[1]}>
                  {question.answers[1]}
                </option>
                <option value={question.answers[2]}>
                  {question.answers[2]}
                </option>
                <option value={question.answers[3]}>
                  {question.answers[3]}
                </option>
              </select>
            </div>
          </div>
        ))
      }
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</Layout>

<script is:inline>
  let questions = [
    {
      question:
        "Which of the following impacts that climate change may have on our health and environment?",
      answers: [
        "Intense Heat Waves",
        "Unbalance Ecosystem",
        "Extreme weather condition",
        "All of the above",
      ],
      correctAnswer: 3,
    },
    {
      question:
        "Where have some of the strongest and earliest impacts of global warming occurred?",
      answers: [
        "Northern Latitude",
        "Southern Latitude",
        "Antarctica",
        "All of the above",
      ],
      correctAnswer: 1,
    },
    {
      question:
        "Which of the following action could you take to help lessen the impact of climate change?",
      answers: [
        "More use of Electric Vehicles",
        "Reducing Food Wasteage",
        "Conserve Water",
        "All of the above",
      ],
      correctAnswer: 3,
    },
    {
      question: "Which of the following is not a green house effect gas",
      answers: ["Carbon Dioxide", "Ozone", "Methane", "Nitrogen"],
      correctAnswer: 3,
    },
    {
      question: "What is the major effect of climate change in alska?",
      answers: [
        "Increase in Wildfires",
        "Increase in Sea Ice",
        "Decrease in Temperature",
        "All of the above",
      ],
      correctAnswer: 0,
    },
  ];
  const form = document.getElementById("quiz-form");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    let score = 0;
    for (let i = 0; i < questions.length; i++) {
      const answer = document.getElementById("question" + (i + 1)).value;
      if (answer === questions[i].answers[questions[i].correctAnswer]) {
        score++;
      }
    }
    const name = document.getElementById("name").value;
    let result = await fetch("https://aeromates.hasura.app/api/rest/create", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "x-hasura-admin-secret": import.meta.env.HASURA_ADMIN_SECRET,
      },
      body: JSON.stringify({ score: score, name: name }),
    });
    result = await result.json();
    result = result['insert_quizzes_quizzes_one'];
    window.location.href = "/result/" + result.id;


  });
</script>
